#wrapper {
    border-radius: 25px;
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
}

div {
  width: 50%;
  height: 50%;
}

@items {
    width: 50px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: red;
}
