
.parent {
  place-items: center;
  justify-items: center;
}

.child {
  border-radius: 25px;
  background: 262772E;
  background: linear-gradient(nulldeg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  width: 350px;
  height: 500px;
  position: absolute;
  top: 25%;
  left: 35%;
}

@items {
    width: 50px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: red;
}
